<template>
  <div class="q-pa-md">
    <q-table
      title="List of Vacancies"
      :data="vacancies.data"
      :columns="columns"
      row-key="id"
      :filter = "pagination.filter"
      :pagination.sync="pagination"
      :loading="loadingVacancies"
      @request="onPageChange"
      :selected.sync="selected"
      hide-bottom
    >
      <template v-slot:loading>
        <q-inner-loading showing color="primary" />
      </template>
      <template v-slot:top-right>
        <q-input borderless dense debounce="1000" v-model="pagination.filter" placeholder="Search" class="q-mr-xl" clearable>
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
    <!--    <q-btn
          label="Add Vacancy"
          color="gray"
          class="q-mr-sm text-black q-pl-md q-pr-md" @click="buttonCreate"
        />
        <q-btn
          label="Edit Vacancy"
          color="gray"
          class="q-mr-sm text-black q-pl-md q-pr-md" @click="buttonEdit"
        />
        <q-btn
          label="Delete Vacancy"
          color="gray"
          class="q-mr-sm text-black q-pl-md q-pr-md" @click="buttonDelete"
        />-->
      </template>
    </q-table>

    <q-dialog v-model="createEditVacancyDialog">
      <q-card elevated style="width: 700px; max-width: 80vw;">

        <q-card-section>
          <q-toolbar>
            <q-toolbar-title>{{dialogTitle}}</q-toolbar-title>
          </q-toolbar>
          <q-form ref="addVacancyForm">
            <div class="row">
              <div class="col-md-6 col-xs-6 q-pa-md">
                <q-input
                  filled
                  v-model="form.photo"
                  type="file"
                  lazy-rules
                  :rules="[
                  val => (val && val.length > 0) || 'Please upload image'
                ]"
                />
              </div>
              <div class="col-md-6 col-xs-6 q-pa-md">
                <q-input
                  filled
                  v-model="form.position"
                  label="Position *"
                  type="text"
                  lazy-rules
                  :rules="[
                  val => (val && val.length > 0) || 'Please enter position'
                ]"
                />
              </div>
              <div class="col-md-6 col-xs-6 q-pa-md">
                <q-input
                  filled
                  v-model="form.company"
                  label="Company *"
                  type="text"
                  lazy-rules
                  :rules="[
                  val => (val && val.length > 0) || 'Please enter company name'
                ]"
                />
              </div>
              <div class="col-md-6 col-xs-6 q-pa-md">
                <q-input
                  filled
                  v-model="form.location"
                  label="location *"
                  type="text"
                  lazy-rules
                  :rules="[
                  val => (val && val.length > 0) || 'Please enter location'
                ]"
                />
              </div>
            </div>
          </q-form>
        </q-card-section>

        <!-- buttons example -->
        <q-card-actions align="right">
          <q-btn color="info" class="q-pl-md q-pr-md" outline label="Cancel" @click="closeDialog" />
          <q-btn
            label="Save"
            @click="btnSave"
            :disabled="addingVacancy"
            :loading="addingVacancy"
            outline
            color="primary"
            class="q-pl-md q-pr-md"
          >
            <template v-slot:loading>
              <q-spinner-facebook />
            </template>
          </q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>

    <template>
      <div class="row q-mt-md">
        <div class="col-md-4"> </div>
        <div class="col-md-2">
          <span>Records per page: </span>
          <select @change="onSelectValue" v-model="pagination.rowsPerPage" class="select">
            <option v-for="(item,index) in options" :value="item.value" :key="index">{{item.label}}</option>
          </select>
        </div>

        <div class="col-md-4">
          <q-pagination
            @input="onRequest"
            v-model="pagination.page"
            :max="pagination.last_page"
            direction-links
            boundary-links
            :max-pages="1"
            :ellipses="true">
          </q-pagination>
        </div>
        <div class="col-md-2">
          <span>Total Records: {{pagination.rowsNumber}} </span>
        </div>
      </div>
    </template>
  </div>
</template>

<script>

  import {mapGetters, mapActions} from "vuex";
  import commonMixins from "../../mixins/commonMixins";
  import {cloneDeep} from "lodash";

  export default {
    name: "Vacancies",
    mixins: [commonMixins],
    created() {
      this.$store.dispatch('FETCH_VACANCIES', this.pagination)
    },
    data() {
      return {
        form: {
          photo: '',
          position: '',
          company: '',
          location: '',
          id: '',
        },
        selected: [],
        dialogTitle: '',
        editting: false,
        createEditVacancyDialog: false,
        filter: '',
        pagination: {
          sortBy: '',
          descending: false,
          page: 1,
          rowsPerPage: 5,
          rowsNumber: 10,
          filter: '',
          last_page: 1,
        },
        options:[
          {value:3,label:3},
          {value:5,label:5},
          {value:7,label:7},
          {value:10,label:10},
          {value:15,label:15},
          {value:25,label:25},
          {value:50,label:50},
        ]
      }
    },
    computed:{
      ...mapGetters({
        loadingVacancies: 'GET_FETCHING_VACANCIES',
        vacancies: 'GET_VACANCIES',
        addingVacancy: 'GET_ADDING_VACANCY'
      }),
      columns() {
        let columnObjects = []
        if(this.vacancies.data && this.vacancies.data.length){
          let firstValues = this.vacancies.data[0];
          let headerArray = Object.keys(firstValues)
          headerArray.map(header => {
            if(header !== 'relationships' && header !== 'type'){
              let obj1 = {
                name: header,
                sortable: true,
                label: this.formatString(header),
                field: header,
                headerClasses: 'text-capitalize bg-grey-4'
              }
              columnObjects.push(obj1)
            }
          })
        }
        return columnObjects
      },
    },
    watch:{
      vacancies: {
        deep: true,
        handler() {
          if (this.vacancies.hasOwnProperty('meta')) {
            this.pagination.page = this.vacancies.meta.current_page
            this.pagination.rowsPerPage = this.vacancies.meta.per_page
            this.pagination.rowsNumber = this.vacancies.meta.total
            this.pagination.last_page = this.vacancies.meta.last_page
          }
        }
      },
      addingVacancy:{
        handler(){
          if (!this.addingVacancy){
            this.closeDialog()
            this.selected = []
            this.$store.dispatch('FETCH_VACANCIES', this.pagination)
          }
        }
      }

    },
    methods: {
      onPageChange(data) {
        console.log(data)
        if (data.filter)
          data.pagination.filter = data.filter

        this.$store.dispatch('FETCH_VACANCIES', data.pagination)
      },
      onRequest(val) {
        this.pagination.page = val
        this.$store.dispatch('FETCH_VACANCIES', this.pagination)
      },
      onSelectValue(val) {
        this.$store.dispatch('FETCH_VACANCIES', this.pagination)
      },
      buttonCreate() {
        this.editting = false
        this.createEditVacancyDialog = true
        this.dialogTitle = 'Create Vacancy'
      },
      buttonEdit() {
        if (this.selected.length == 0) {
          return
        }
        this.editting = true
        this.createEditVacancyDialog = true
        this.dialogTitle = 'Edit Vacancy'
        this.form = cloneDeep(this.selected[0])
        console.log(this.selected[0])
      },
      closeDialog() {
        this.editting = false
        this.createEditVacancyDialog = false
      },
      btnSave() {
        if (!this.editting) {
          this.saveVacancy(this.form)
        } else {
          this.editVacancy(this.form)
        }
      },
      buttonDelete() {
        if (this.selected.length == 0) {
          return
        }
        this.deleteVacancy(this.selected[0].id)
      },
      ...mapActions({
        editVacancy: 'EDIT_VACANCY',
        saveVacancy: 'ADD_VACANCY',
        deleteVacancy: 'DELETE_VACANCY'
      }),
    }
  }
</script>

<style scoped>
  .custom-cased {
    text-transform: capitalize !important;
  }
  .select{
    border: none;
    border: 0;
  }
</style>
<!--

<template>
  <div class="q-pa-md">
    <q-table
      title="List of Vacancies"
      :data="vacancies.data"
      :columns="columns"
      row-key="id"
      :filter = "pagination.filter"
      :pagination.sync="pagination"
      :loading="loadingVacancies"
      @request="onPageChange"
      :selected.sync="selected"
      hide-bottom
    >
      <template v-slot:loading>
        <q-inner-loading showing color="primary" />
      </template>
      <template v-slot:top-right>
        <q-input borderless dense debounce="1000" v-model="pagination.filter" placeholder="Search" class="q-mr-xl" clearable>
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        &lt;!&ndash;<q-btn
          label="Add Vacancy"
          color="gray"
          class="q-mr-sm text-black q-pl-md q-pr-md" @click="buttonCreate"
        />&ndash;&gt;
        &lt;!&ndash;<q-btn
          label="Edit Vacancy"
          color="gray"
          class="q-mr-sm text-black q-pl-md q-pr-md" @click="buttonEdit"
        />&ndash;&gt;
      &lt;!&ndash;  <q-btn
          label="Delete Vacancy"
          color="gray"
          class="q-mr-sm text-black q-pl-md q-pr-md" @click="buttonDelete"
        />&ndash;&gt;
      </template>
    </q-table>

    <q-dialog v-model="createEditVacancyDialog">
      <q-card elevated style="width: 700px; max-width: 80vw;">

        <q-card-section>
          <q-toolbar>
            <q-toolbar-title>{{dialogTitle}}</q-toolbar-title>
          </q-toolbar>
          <q-form ref="addVacancyForm">
            <div class="row">
              <div class="col-md-6 col-xs-6 q-pa-md">
                <q-input
                  filled
                  v-model="form.photo"
                  type="file"
                  lazy-rules
                  :rules="[
                  val => (val && val.length > 0) || 'Please upload image'
                ]"
                />
              </div>
              <div class="col-md-6 col-xs-6 q-pa-md">
                <q-input
                  filled
                  v-model="form.position"
                  label="Position *"
                  type="text"
                  lazy-rules
                  :rules="[
                  val => (val && val.length > 0) || 'Please enter vacant position'
                ]"
                />
              </div>
              <div class="col-md-6 col-xs-6 q-pa-md">
                <q-input
                  filled
                  v-model="form.company"
                  label="Company *"
                  type="text"
                  lazy-rules
                  :rules="[
                  val => (val && val.length > 0) || 'Please enter company name'
                ]"
                />
              </div>
              <div class="col-md-6 col-xs-6 q-pa-md">
                <q-input
                  filled
                  v-model="form.location"
                  label="Location *"
                  type="text"
                  lazy-rules
                  :rules="[
                  val => (val && val.length > 0) || 'Please enter company location'
                ]"
                />
              </div>
            </div>
          </q-form>
        </q-card-section>

        &lt;!&ndash; buttons example &ndash;&gt;
        <q-card-actions align="right">
          <q-btn color="info" class="q-pl-md q-pr-md" outline label="Cancel" @click="closeDialog" />
          &lt;!&ndash;<q-btn
            label="Save"
            @click="btnSave"
            :disabled="addingVacancy"
            :loading="addingVacancy"
            outline
            color="primary"
            class="q-pl-md q-pr-md"
          >
            <template v-slot:loading>
              <q-spinner-facebook />
            </template>
          </q-btn>&ndash;&gt;
        </q-card-actions>
      </q-card>
    </q-dialog>

    <template>
      <div class="row q-mt-md">
        <div class="col-md-4"> </div>
        <div class="col-md-2">
          <span>Records per page: </span>
          <select @change="onSelectValue" v-model="pagination.rowsPerPage" class="select">
            <option v-for="(item,index) in options" :value="item.value" :key="index">{{item.label}}</option>
          </select>
        </div>

        <div class="col-md-4">
          <q-pagination
            @input="onRequest"
            v-model="pagination.page"
            :max="pagination.last_page"
            direction-links
            boundary-links
            :max-pages="1"
            :ellipses="true">
          </q-pagination>
        </div>
        <div class="col-md-2">
          <span>Total Records: {{pagination.rowsNumber}} </span>
        </div>
      </div>
    </template>
  </div>
</template>

<script>

  import {mapGetters, mapActions} from "vuex";
  import commonMixins from "../../mixins/commonMixins";
  import {cloneDeep} from "lodash";

  export default {
    name: "Vacancies",
    mixins: [commonMixins],
    created() {
      this.$store.dispatch('FETCH_VACANCIES', this.pagination)
    },
    data() {
      return {
        form: {
          photo: '',
          position: '',
          company: '',
          location: '',
          id: '',
        },
        selected: [],
        dialogTitle: '',
        editting: false,
        createEditVacancyDialog: false,
        filter: '',
        pagination: {
          sortBy: '',
          descending: false,
          page: 1,
          rowsPerPage: 5,
          rowsNumber: 10,
          filter: '',
          last_page: 1,
        },
        options:[
          {value:3,label:3},
          {value:5,label:5},
          {value:7,label:7},
          {value:10,label:10},
          {value:15,label:15},
          {value:25,label:25},
          {value:50,label:50},
        ]
      }
    },
    computed:{
      ...mapGetters({
        loadingVacancies: 'GET_FETCHING_VACANCIES',
        vacancies: 'GET_VACANCIES',
        addingVacancy: 'GET_ADDING_VACANCY'
      }),
      columns() {
        let columnObjects = []
        if(this.vacancies.data && this.vacancies.data.length){
          let firstValues = this.vacancies.data[0];
          let headerArray = Object.keys(firstValues)
          headerArray.map(header => {
            if(header !== 'relationships' && header !== 'type'){
              let obj1 = {
                name: header,
                sortable: true,
                label: this.formatString(header),
                field: header,
                headerClasses: 'text-capitalize bg-grey-4'
              }
              columnObjects.push(obj1)
            }
          })
        }
        return columnObjects
      },
    },
    watch:{
      vacancies: {
        deep: true,
        handler() {
          if (this.vacancies.hasOwnProperty('meta')) {
            this.pagination.page = this.vacancies.meta.current_page
            this.pagination.rowsPerPage = this.vacancies.meta.per_page
            this.pagination.rowsNumber = this.vacancies.meta.total
            this.pagination.last_page = this.vacancies.meta.last_page
          }
        }
      },
      addingVacancy:{
        handler(){
          if (!this.addingVacancy){
            this.closeDialog()
            this.selected = []
            this.$store.dispatch('FETCH_VACANCIES', this.pagination)
          }
        }
      }

    },
    methods: {
      onPageChange(data) {
        console.log(data)
        if (data.filter)
          data.pagination.filter = data.filter

        this.$store.dispatch('FETCH_VACANCIES', data.pagination)
      },
      onRequest(val) {
        this.pagination.page = val
        this.$store.dispatch('FETCH_VACANCIES', this.pagination)
      },
      onSelectValue(val) {
        this.$store.dispatch('FETCH_VACANCIES', this.pagination)
      },
      buttonCreate() {
        this.editting = false
        this.createEditVacancyDialog = true
        this.dialogTitle = 'Create Vacancy'
      },
      buttonEdit() {
        if (this.selected.length == 0) {
          return
        }
        this.editting = true
        this.createEditVacancyDialog = true
        this.dialogTitle = 'Edit Vacancy'
        this.form = cloneDeep(this.selected[0])
        console.log(this.selected[0])
      },
      closeDialog() {
        this.editting = false
        this.createEditVacancyDialog = false
      },
      btnSave() {
        if (!this.editting) {
          this.saveVacancy(this.form)
        } else {
          this.editVacancy(this.form)
        }
      },
      buttonDelete() {
        if (this.selected.length == 0) {
          return
        }
        this.deleteVacancy(this.selected[0].id)
      },
      ...mapActions({
        editVacancy: 'EDIT_VACANCY',
        saveVacancy: 'ADD_VACANCY',
        deleteVacancy: 'DELETE_VACANCY'
      }),
    }
  }
</script>

<style scoped>
  .custom-cased {
    text-transform: capitalize !important;
  }
  .select{
    border: none;
    border: 0;
  }
</style>
-->
