<template>
  <q-layout view="lHh Lpr lFf">
    <admin-nav />
    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
  import AdminNav from "../components/navigations/AdminNav";

  export default {
    name: "AdminLayout",
    components: {
      AdminNav
    }
  }
</script>

<style scoped>

</style>
