<template>
  <q-layout view="lHh Lpr lFf">
    <main-nav />
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import MainNav from "../components/navigations/MainNav";

export default {
  name: 'MainLayout',

  components: {
    MainNav
  },
  created() {
  },
  data () {
    return {
    }
  },
  computed: {

  },
  methods: {

  },
}
</script>
